* {
    margin: 0;
    padding: 0;
}
:root{
    --clr-background: #53cd7a;
    --clr-lightgreen:#d1ffcd;
    --clr-primary:#fd5f5f;
    --clr-gray:#0478b3;
    --sangria-izquierda: 20px;

    --font-size:16px;
    --border-radius:0.2em;
}

html,body {
    height: 100%;
    width: 100%;
}
body{
    
    color: var(--clr-gray);
    font-family: 'Times New Roman', Times, serif;
    background-image: url(img/FondoImage.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color:black; /* por si la imagen de fondo no carga en algun dispositivo*/
    /* background: var(--clr-lightgreen) url(FondoImage.jpeg) no-repeat fixed; */
    width: 100%;
    margin-left: var(--sangria-izquierda);
    
    
    
}

.header-top{
    overflow: hidden;
    position: fixed;
    background-color: var(--clr-background);
    width: 100%;
    border-radius: var(--border-radius);
    top: 0.8rem;
    
    
}

.header-top a{
    color:var(--clr-gray);
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    padding: 15px 35px;
}

.header-top a.logo{
    font-size: 25px;
    font-weight: bold;
    color: var(--clr-gray);
}

.header-top a:hover{
    background-color: var(--clr-primary);
    color:var(--clr-gray);
}

.header-top a.active{
    background-color: var(--clr-primary);
    color:var(--clr-gray);
}

.header-right{
    float: right;
    
    
}
.noticias{
   
    margin-top: 8%;
    z-index: -1;
    

 }


/*---------------------------Main of THE page--------------------------*/

#container-news{
    background-color: var(--clr-background);
    height: 100vh;
    position: relative;
    margin:6.2em 3.1em 2em 3.1em ;
    z-index: -1;
    opacity: 0.5;
    border-radius: var(--border-radius);
}





























/*---------------------------Footer of THE page--------------------------*/

footer{
    display: flex;
    padding:1em;
    background-color: rgb(23, 23, 23);
    border-radius: var(--border-radius);
    color: whitesmoke;
    height: 10vh;
    width: auto;
    margin-left: 3.1em;
    margin-right: 3.1em;
    justify-content: space-around;
    align-items: flex-end;
}

.footerA{
    color:whitesmoke;
    text-decoration: none;
}

.footerA:hover{
    font-size: 18px;
    color:var(--clr-primary);
}
.tabla-container {
    display: flex;
    margin-top: 8%;
    z-index: -1;
    

  }
  
  #PRINCIPAL,
  #SECUNDARIA {
    width: 50%;
    margin-right: 10px;
  }
