/*---------Variables globales y declaraciones globales-------*/
* {
    margin: 0;
    padding: 0;
}
:root{
    --clr-background: #53cd7a;
    --clr-lightgreen:#d1ffcd;
    --clr-primary:#fd5f5f;
    --clr-gray:#282828;
    --clr-opacitygreen:rgba(49, 174, 95, 0.3);
    
    --font-size:16px;
    --border-radius:0.2em;
}

html,body {
    height: 50vh;
    width: 100%;
}
body{
    
    color: var(--clr-gray);
    font-family: 'Mukta', sans-serif;
    background-image: url(img/FondoImage.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color:black; /* por si la imagen de fondo no carga en algun dispositivo*/
    /* background: var(--clr-lightgreen) url(FondoImage.jpeg) no-repeat fixed; */
    width: 100%;
    font-weight: 900;
    
}

/*-------------------------- NavBar of the pages -----------------------------------*/
.header-top{
    overflow: hidden;
    position: fixed;
    background-color: var(--clr-background);
    width: 100%;
    border-radius: var(--border-radius);
    top: 0.8rem;
    z-index:1;
    
}

.header-top a{
    color:var(--clr-gray);
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    padding: 15px 35px;
}

.header-top a.logo{
    font-size: 25px;
    font-weight: bold;
    color: var(--clr-gray);
}

.header-top a:hover{
    background-color: var(--clr-primary);
    color:var(--clr-gray);
}



.header-right{
    float: right;
    
    
}



/*---------------------------Main of THE index.html--------------------------*/

#container-news{
    background-color: var(--clr-opacitygreen);
    height: 100vh;
    position: relative;
    margin:6.2em 3.1em 2em 3.1em ;
    z-index: -1;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.titulo-index{
    justify-content: center;
    align-self: center;
    margin: 0;
    color:var(--clr-primary);
    font-size: 45px;
    background-color:rgba(45, 45, 45, 0.8);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: var(--border-radius);  
}

.parrafo-index{
    align-self: center;
    color:rgb(218, 218, 218);
    font-size: 25px;
    background-color:rgba(45, 45, 45, 0.8);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: var(--border-radius);  
}







/*-----------------------------------------Main of THE page "Noticias.html"-------------------------------------------*/
.noticias{
   
    margin-top: 8%;
    grid-column: repeat(1, 1fr);
    grid-template-rows: 0.8fr 0.8fr 1fr;
    grid-template-areas:
    "titulo-infobae"
    "infobae-container"
    "titulo-finanzas"
    "finanzas-container"
    "titulo-proximamente"
    "proximamente-container";
 }

/*---------section infobae ------------*/ 

.titulo-infobae{
    margin: 2rem;
    grid-area: titulo-infobae;
    display: flex;
    justify-content: center;
    color:rgb(218, 218, 218);
    font-size: 45px;
    font-weight: bold;
}

.infobae-container{
    padding: 2rem;
    margin: 0.5rem;
    background-color: var(--clr-opacitygreen);
    grid-area: infobae-container ;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-around;
    margin-left: 3.1em;
    margin-right: 3.1em;
}


.general-img{
    border-radius: var(--border-radius);
    
}    

 .general-img:hover{
    opacity: 0.8;
    border: 2px solid var(--clr-primary);
}


/*---------section finanzas------------*/ 

.titulo-finanzas{
    margin: 2rem;
    grid-area: titulo-finanzas;
    display: flex;
    justify-content: center;
    color:rgb(218, 218, 218);
    font-size: 45px;
    font-weight: bold;
}

.finanzas-container{
    padding: 2rem;
    margin: 0.5rem;
    background-color: var(--clr-opacitygreen);
    grid-area: finanzas-container ;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-around;
    margin-left: 3.1em;
    margin-right: 3.1em;
 }




 /*---------section proximamente------------*/ 

 .titulo-proximamente{
    margin: 2rem;
    grid-area: titulo-proximamente;
    display: flex;
    justify-content: center;
    color:rgb(218, 218, 218);
    font-size: 45px;
    font-weight: bold;
}

 .proximamente-container{
    padding: 2rem;
    margin: 0.5rem;
    background-color: var(--clr-opacitygreen);
    grid-area: proximamente-container ;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3.1em;
    margin-right: 3.1em;
    
 }

.items-proximamente{
    padding: 0.2rem;
    margin: 1rem;
    font-size: 30px;
    color: black;
}







/*-----------------------------------------Main of THE page "precios.html"-------------------------------------------*/

.tabla-container {
    padding: 2rem;
    margin: 0.5rem;
    display: flex;
    margin-top: 8%;
    z-index: -1;
    background-color: var(--clr-opacitygreen);
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-left: 3.1em;
    margin-right: 3.1em;
  }

#PRINCIPAL, #SECUNDARIA{
    margin: 2rem;
    border: 2px solid rgb(45, 45, 45);
    background-color:rgb(0, 0, 0);
    align-items: center;
    font-size: 18px;
    padding: 0.6rem;
    border-radius: var(--border-radius);
    color:var(--clr-background);
}

#main-titulo{
    font-size: 50px;
    color:rgb(218, 218, 218);
    color: var(--clr-gray);
    border-radius: var(--border-radius);
    border: 6px solid rgb(45, 45, 45);
    padding: 0.4rem;
    background: rgb(224,224,224);
    background: linear-gradient(4deg, rgba(224,224,224,0.7) 29%, rgba(255, 255, 255, 0.4) 100%);
}

.titulo-precio{
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color:var(--clr-primary);
    border: 2px solid rgb(45, 45, 45);
    border-radius: var(--border-radius);
    padding: 0.4rem

}

.table-precio{
    color:var(--clr-primary);
    background-color:rgb(0, 0, 0);
    font-size: 25px;
    margin: 0.5rem;
    margin-left: 3.1em;
    margin-right: 3.1em;
    
}



/*-----------------------------------------Main of THE page "contactos.html"-------------------------------------------*/


.container-contacto{
    background-color: var(--clr-opacitygreen);
    margin: 0.5rem 3.1rem;
    margin-top: 8%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
}

/*----------------section nosotros-----------------*/
.nosotros-contacto{
    margin: 0.5rem;
    padding: 0.5rem;
    flex-basis: 50%;
    color:rgb(218, 218, 218); 
    background-color: var(--clr-gray);
    border-radius: var(--border-radius);
    
    
}

.titulo-contacto{
    color:var(--clr-primary);
    font-size: 50px;
    align-self: center;
}

.parrafo-contacto{
    font-size: 40px;
    align-self:center;
}

/*----------------section formulario-----------------*/
.formulario-container{
    
    margin: 0;
    flex-basis: 50%;
}

.formulario-contacto{
    padding: 2rem;
    font-size: 30px;
    color:rgb(218, 218, 218) ;
}

.formulario-contacto, label{
    padding: 2.5rem 1rem;
}

.boton-formulario{
    font-size:20px;
}

.boton-formulario:hover{
    background-color:rgb(218, 218, 218) ;
    color:var(--clr-gray);


}

/*---------------------------Footer of THE page--------------------------*/

footer{
    display: flex;
    padding:1em;
    background-color: rgb(23, 23, 23);
    border-radius: var(--border-radius);
    color: whitesmoke;
    height: 10vh;
    width: auto;
    margin-left: 3.1em;
    margin-right: 3.1em;
    justify-content: space-around;
    align-items: flex-end;
}

.footerA{
    color:whitesmoke;
    text-decoration: none;
}

.footerA:hover{
    font-size: 18px;
    color:var(--clr-primary);
}

/*responsive*/

@media screen and (max-width: 768px) {
      
    .header-right {
      display: none;
    }
    .menu {
      display: block;
      
    }
    .header-right.show {
      display: block;
    }
    @media screen and (max-width: 768px) {
        
        .footerA {
          display: block;
          margin-bottom: 10px;
        }
    }
    .menu.active {
        background: #055f20; 
      }
}